@page "/"
@inject IHttpContextAccessor _httpContextAccessor
@inject ContextProvider _identity

@attribute [FeatureGate("Beta")]

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br/>
<p>User is authenticated: @_identity.IsAuthenticated</p>
<p>Username: @(_identity.UserName ?? "No username available")</p>


@code {
    protected override void OnInitialized()
    {
        var context = _httpContextAccessor.HttpContext;
    }
}